The goal is to provide better data about the top 50 solar flares recorded so far than those shown by SpaceWeatherLive.com. Use this messy NASA data to add more features for the top 50 solar flares. You need to scrape this information directly from each HTML page. You can read here more about Solar Flares, coronal mass ejections, and the solar flare alphabet soup.

https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares.html (SpaceWeatherLive.com)

https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html (NASA Live)

**Question 1** 
Scrape your competitor's data (10 pts)
Scrape data for the top 50 solar flares shown in SpaceWeatherLive.com

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import datetime

In [2]:
header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get("https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares.html",headers=header)
#print(page.status_code)

soup = BeautifulSoup(page.text, 'html.parser')

tab = soup.find('table', class_ = 'table table-striped')

#print(tab)

rank=[]
flare=[]
dat=[]
region=[]
st=[]
max=[]
end=[]
movie=[]
archive=[]

for i in tab.find_all('tbody'):		#to derive data from <tbody> to </tbody>
    rows = i.find_all('tr')
    for row in rows:
        rank.append(row.find_all('td')[0].text)
        fl = row.find('span', class_ = 'flare_small Xclass').text
        flare.append(fl.replace('+', ''))
        dat.append(row.find_all('td')[2].text)
        region.append(row.find('a').text)
        st.append(row.find_all('td')[4].text)
        max.append(row.find_all('td')[5].text)
        end.append(row.find_all('td')[6].text)
        abc=row.find('a',class_='btn btn-xs btn-outline-dark').text
        if abc == 'View archive':
            movie.append('')
        else:
            movie.append('Movie')
        archive.append(row.find_next('a', class_='btn btn-xs btn-outline-dark',string=re.compile("View")).text)
        
#to store data into dataframe
df = pd.DataFrame({'Rank':rank,'X_Classification':flare,'Date':dat,'Region':region,'Start Time':st,'Maximum Time':max,'End Time':end,'Movie':movie,'Archive':archive}) 
df1=df.drop(['Movie', 'Archive'], axis=1)  
print(df1) 
#df.to_csv('task1.csv')

   Rank X_Classification        Date Region Start Time Maximum Time End Time
0     1              X28  2003/11/04   0486      19:29        19:53    20:06
1     2              X20  2001/04/02   9393      21:32        21:51    22:03
2     3            X17.2  2003/10/28   0486      09:51        11:10    11:24
3     4              X17  2005/09/07   0808      17:17        17:40    18:03
4     5            X14.4  2001/04/15   9415      13:19        13:50    13:55
5     6              X10  2003/10/29   0486      20:37        20:49    21:01
6     7             X9.4  1997/11/06   8100      11:49        11:55    12:01
7     8             X9.3  2017/09/06   2673      11:53        12:02    12:10
8     9               X9  2006/12/05   0930      10:18        10:35    10:45
9    10             X8.3  2003/11/02   0486      17:03        17:25    17:39
10   11             X8.2  2017/09/10   2673      15:35        16:06    16:31
11   12             X7.1  2005/01/20   0720      06:36        07:01    07:26
12   13             X6.9  2011/08/09   1263      07:48        08:05    08:08
13   14             X6.5  2006/12/06   0930      18:29        18:47    19:00
14   15             X6.2  2005/09/09   0808      19:13        20:04    20:36
15   16             X6.2  2001/12/13   9733      14:20        14:30    14:35
16   17             X5.7  2000/07/14   9077      10:03        10:24    10:43
17   18             X5.6  2001/04/06   9415      19:10        19:21    19:31
18   19             X5.4  2012/03/07   1429      00:02        00:24    00:40
19   20             X5.4  2005/09/08   0808      20:52        21:06    21:17
20   21             X5.4  2003/10/23   0486      08:19        08:35    08:49
21   22             X5.3  2001/08/25   9591      16:23        16:45    17:04
22   23             X4.9  2014/02/25   1990      00:39        00:49    01:03
23   24             X4.9  1998/08/18   8307      22:10        22:19    22:28
24   25             X4.8  2002/07/23   0039      00:18        00:35    00:47
25   26               X4  2000/11/26   9236      16:34        16:48    16:56
26   27             X3.9  2003/11/03   0488      09:43        09:55    10:19
27   28             X3.9  1998/08/19   8307      21:35        21:45    21:50
28   29             X3.8  2005/01/17   0720      06:59        09:52    10:07
29   30             X3.7  1998/11/22   8384      06:30        06:42    06:49
30   31             X3.6  2005/09/09   0808      09:42        09:59    10:08
31   32             X3.6  2004/07/16   0649      13:49        13:55    14:01
32   33             X3.6  2003/05/28   0365      00:17        00:27    00:39
33   34             X3.4  2006/12/13   0930      02:14        02:40    02:57
34   35             X3.4  2001/12/28   9767      20:02        20:45    21:32
35   36             X3.3  2013/11/05   1890      22:07        22:12    22:15
36   37             X3.3  2002/07/20   0039      21:04        21:30    21:54
37   38             X3.3  1998/11/28   8395      04:54        05:52    06:13
38   39             X3.2  2013/05/14   1748      00:00        01:11    01:20
39   40             X3.1  2014/10/24   2192      21:07        21:41    22:13
40   41             X3.1  2002/08/24   0069      00:49        01:12    01:31
41   42               X3  2002/07/15   0030      19:59        20:08    20:14
42   43             X2.8  2013/05/13   1748      15:48        16:05    16:16
43   44             X2.8  2001/12/11   9733      07:58        08:08    08:14
44   45             X2.8  1998/08/18   8307      08:14        08:24    08:32
45   46             X2.7  2015/05/05   2339      22:05        22:11    22:15
46   47             X2.7  2003/11/03   0488      01:09        01:30    01:45
47   48             X2.7  1998/05/06   8210      07:58        08:09    08:20
48   49             X2.6  2005/01/15   0720      22:25        23:02    23:31
49   50             X2.6  2001/09/24   9632      09:32        10:38    11:09

**Question 2**
Tidy the top 50 solar flare data (10 pts)
Make sure this table is usable using pandas:
1.	Drop the last column of the table, since we are not going to use it moving forward.
2.	Use datetime import to combine the date and each of the three time columns into three datetime columns. You will see why this is useful later on. iterrows() should prove useful here.
3.	Update the values in the dataframe as you do this. Set_value should prove useful.
4.	Set regions coded as - as missing (NaN). You can use dataframe.replace() here.

In [3]:
header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get("https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares.html",headers=header)
#print(page.status_code)

soup = BeautifulSoup(page.text, 'html.parser')

tab = soup.find('table', class_ = 'table table-striped')

rank=[]
flare=[]
dat=[]
region=[]
st=[]
max=[]
end=[]
movie=[]
archive=[]

for i in tab.find_all('tbody'):
    rows = i.find_all('tr')
    for row in rows:
        rank.append(row.find_all('td')[0].text)
        fl = row.find('span', class_ = 'flare_small Xclass').text
        flare.append(fl.replace('+', ''))
        dat.append(row.find_all('td')[2].text)
        region.append(row.find('a').text)    
        st.append(row.find_all('td')[4].text)
        max.append(row.find_all('td')[5].text)
        end.append(row.find_all('td')[6].text)
        abc=row.find('a',class_='btn btn-xs btn-outline-dark').text
        if abc == 'View archive':
            movie.append('')
        else:
            movie.append('Movie')
        archive.append(row.find_next('a', class_='btn btn-xs btn-outline-dark',string=re.compile("View")).text)
         

df1 = pd.DataFrame({'Rank':rank,'X_Classification':flare,'Date':dat,'Region':region,'Start Time':st,'Maximum Time':max,'End Time':end,'Movie':movie,'Archive':archive}) 
df=df1.drop(['Movie', 'Archive'], axis=1)  # 1 Drop column
st_dt = pd.to_datetime(df['Date'] + ' ' + df['Start Time']) #2 use datetime
max_dt = pd.to_datetime(df['Date'] + ' ' + df['Maximum Time']) #2 use datetime
end_dt = pd.to_datetime(df['Date'] + ' ' + df['End Time'])  #2 use datetime
df = pd.DataFrame({'Rank':rank,'X_Classification':flare,'Start DateTime':st_dt,'Maximum DateTime':max_dt,'End DateTime':end_dt, 'Region':region})  #3 update value
df = df.replace('-','NaN')      #4 replace '-' with 'NAN' 
print(df)
#df.to_csv('task2.csv')

   Rank X_Classification      Start DateTime    Maximum DateTime  \
0     1              X28 2003-11-04 19:29:00 2003-11-04 19:53:00
1     2              X20 2001-04-02 21:32:00 2001-04-02 21:51:00
2     3            X17.2 2003-10-28 09:51:00 2003-10-28 11:10:00
3     4              X17 2005-09-07 17:17:00 2005-09-07 17:40:00
4     5            X14.4 2001-04-15 13:19:00 2001-04-15 13:50:00
5     6              X10 2003-10-29 20:37:00 2003-10-29 20:49:00
6     7             X9.4 1997-11-06 11:49:00 1997-11-06 11:55:00
7     8             X9.3 2017-09-06 11:53:00 2017-09-06 12:02:00
8     9               X9 2006-12-05 10:18:00 2006-12-05 10:35:00
9    10             X8.3 2003-11-02 17:03:00 2003-11-02 17:25:00
10   11             X8.2 2017-09-10 15:35:00 2017-09-10 16:06:00
11   12             X7.1 2005-01-20 06:36:00 2005-01-20 07:01:00
12   13             X6.9 2011-08-09 07:48:00 2011-08-09 08:05:00
13   14             X6.5 2006-12-06 18:29:00 2006-12-06 18:47:00
14   15             X6.2 2005-09-09 19:13:00 2005-09-09 20:04:00
15   16             X6.2 2001-12-13 14:20:00 2001-12-13 14:30:00
16   17             X5.7 2000-07-14 10:03:00 2000-07-14 10:24:00
17   18             X5.6 2001-04-06 19:10:00 2001-04-06 19:21:00
18   19             X5.4 2012-03-07 00:02:00 2012-03-07 00:24:00
19   20             X5.4 2005-09-08 20:52:00 2005-09-08 21:06:00
20   21             X5.4 2003-10-23 08:19:00 2003-10-23 08:35:00
21   22             X5.3 2001-08-25 16:23:00 2001-08-25 16:45:00
22   23             X4.9 2014-02-25 00:39:00 2014-02-25 00:49:00
23   24             X4.9 1998-08-18 22:10:00 1998-08-18 22:19:00
24   25             X4.8 2002-07-23 00:18:00 2002-07-23 00:35:00
25   26               X4 2000-11-26 16:34:00 2000-11-26 16:48:00
26   27             X3.9 2003-11-03 09:43:00 2003-11-03 09:55:00
27   28             X3.9 1998-08-19 21:35:00 1998-08-19 21:45:00
28   29             X3.8 2005-01-17 06:59:00 2005-01-17 09:52:00
29   30             X3.7 1998-11-22 06:30:00 1998-11-22 06:42:00
30   31             X3.6 2005-09-09 09:42:00 2005-09-09 09:59:00
31   32             X3.6 2004-07-16 13:49:00 2004-07-16 13:55:00
32   33             X3.6 2003-05-28 00:17:00 2003-05-28 00:27:00
33   34             X3.4 2006-12-13 02:14:00 2006-12-13 02:40:00
34   35             X3.4 2001-12-28 20:02:00 2001-12-28 20:45:00
35   36             X3.3 2013-11-05 22:07:00 2013-11-05 22:12:00
36   37             X3.3 2002-07-20 21:04:00 2002-07-20 21:30:00
37   38             X3.3 1998-11-28 04:54:00 1998-11-28 05:52:00
38   39             X3.2 2013-05-14 00:00:00 2013-05-14 01:11:00
39   40             X3.1 2014-10-24 21:07:00 2014-10-24 21:41:00
40   41             X3.1 2002-08-24 00:49:00 2002-08-24 01:12:00
41   42               X3 2002-07-15 19:59:00 2002-07-15 20:08:00
42   43             X2.8 2013-05-13 15:48:00 2013-05-13 16:05:00
43   44             X2.8 2001-12-11 07:58:00 2001-12-11 08:08:00
44   45             X2.8 1998-08-18 08:14:00 1998-08-18 08:24:00
45   46             X2.7 2015-05-05 22:05:00 2015-05-05 22:11:00
46   47             X2.7 2003-11-03 01:09:00 2003-11-03 01:30:00
47   48             X2.7 1998-05-06 07:58:00 1998-05-06 08:09:00
48   49             X2.6 2005-01-15 22:25:00 2005-01-15 23:02:00
49   50             X2.6 2001-09-24 09:32:00 2001-09-24 10:38:00

          End DateTime Region
0  2003-11-04 20:06:00   0486
1  2001-04-02 22:03:00   9393
2  2003-10-28 11:24:00   0486
3  2005-09-07 18:03:00   0808
4  2001-04-15 13:55:00   9415
5  2003-10-29 21:01:00   0486
6  1997-11-06 12:01:00   8100
7  2017-09-06 12:10:00   2673
8  2006-12-05 10:45:00   0930
9  2003-11-02 17:39:00   0486
10 2017-09-10 16:31:00   2673
11 2005-01-20 07:26:00   0720
12 2011-08-09 08:08:00   1263
13 2006-12-06 19:00:00   0930
14 2005-09-09 20:36:00   0808
15 2001-12-13 14:35:00   9733
16 2000-07-14 10:43:00   9077
17 2001-04-06 19:31:00   9415
18 2012-03-07 00:40:00   1429
19 2005-09-08 21:17:00   0808
20 2003-10-23 08:49:00   0486
21 2001-08-25 17:04:00   9591
22 2014-02-25 01:03:00   1990
23 1998-08-18 22:28:00   8307
24 2002-07-23 00:47:00   0039
25 2000-11-26 16:56:00   9236
26 2003-11-03 10:19:00   0488
27 1998-08-19 21:50:00   8307
28 2005-01-17 10:07:00   0720
29 1998-11-22 06:49:00   8384
30 2005-09-09 10:08:00   0808
31 2004-07-16 14:01:00   0649
32 2003-05-28 00:39:00   0365
33 2006-12-13 02:57:00   0930
34 2001-12-28 21:32:00   9767
35 2013-11-05 22:15:00   1890
36 2002-07-20 21:54:00   0039
37 1998-11-28 06:13:00   8395
38 2013-05-14 01:20:00   1748
39 2014-10-24 22:13:00   2192
40 2002-08-24 01:31:00   0069
41 2002-07-15 20:14:00   0030
42 2013-05-13 16:16:00   1748
43 2001-12-11 08:14:00   9733
44 1998-08-18 08:32:00   8307
45 2015-05-05 22:15:00   2339
46 2003-11-03 01:45:00   0488
47 1998-05-06 08:20:00   8210
48 2005-01-15 23:31:00   0720
49 2001-09-24 11:09:00   9632

**Question 3**
Scrape the NASA data (15 pts)
Next, you need to scrape NASA data to get additional features about these solar flares. This table format is described here.
Once scraped, do the next steps:
1.	Use BeautifulSoup functions (e.g., find, findAll) and string functions (e.g., split and built-in slicing capabilities) to obtain each row of data as a long string.
2.	Use the split function to separate each line of text into a data row.
3.	Create a DataFrame with the data from the table.
4.	Choose appropriate names for columns.

In [4]:
header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get("https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html",headers=header)
print(page.status_code)

soup = BeautifulSoup(page.content, 'html.parser')
tab = soup.find('pre')
dat = tab.get_text()
rows = dat.split('\n') #split into data into row

for i in range(0,12):
    rows.pop(0);    #Popping First Twelve Lines of <pre>
rows.pop(len(rows)-1)   #Pop Last two Line before </pre>
rows.pop(len(rows)-1)
df = pd.DataFrame(columns=['Start Date', 'Start Time', 'End Date', 'End Time', 'Start Frequency', 'End Frequency', 'Flare Location', 'Flare Region','Flare Classification', 'CME Date', 'CME Time', 'CME CPA', 'CME Width', 'CME Speed','Plot'], index = range(0,len(rows)))

i = 0   #count row of table
for row in rows:
    column = row.split(' ')
    while '' in column:
        column.remove('')
    j = 0   #count column of table
    while j < 15:
        df.iat[i, j] = column[j]
        j += 1
    i += 1    
print(df) 
#df.to_csv('task3.csv')

200
     Start Date Start Time End Date End Time Start Frequency End Frequency  \
0    1997/04/01      14:00    04/01    14:15            8000          4000
1    1997/04/07      14:30    04/07    17:30           11000          1000
2    1997/05/12      05:15    05/14    16:00           12000            80
3    1997/05/21      20:20    05/21    22:00            5000           500
4    1997/09/23      21:53    09/23    22:16            6000          2000
..          ...        ...      ...      ...             ...           ...
517  2017/09/17      11:45    09/17    12:35           16000           900
518  2017/10/18      05:48    10/18    12:40           16000           400
519  2019/05/03      23:52    05/04    00:16           13000          2300
520  2020/11/29      13:07    11/29    15:23           14000           850
521  2020/12/07      16:18    12/08    02:00           14000           160

    Flare Location Flare Region Flare Classification CME Date CME Time  \
0           S25E16         8026                 M1.3    04/01    15:18
1           S28E19         8027                 C6.8    04/07    14:27
2           N21W08         8038                 C1.3    05/12    05:30
3           N05W12         8040                 M1.3    05/21    21:00
4           S29E25         8088                 C1.4    09/23    22:02
..             ...          ...                  ...      ...      ...
517        S08E170        -----                 ----    09/17    12:00
518        S06E123        -----                 ----    10/18    08:00
519         N12E82        12740                 C1.0    05/03    23:24
520         S23E89        -----                 M4.4    11/29    13:25
521         S25W08        12790                 C7.4    12/07    16:24

    CME CPA CME Width CME Speed  Plot
0        74        79       312  PHTX
1      Halo       360       878  PHTX
2      Halo       360       464  PHTX
3       263       165       296  PHTX
4       133       155       712  PHTX
..      ...       ...       ...   ...
517    Halo       360      1385  PHTX
518      85       146      1001  PHTX
519      90       113       692  PHTX
520    Halo       360      2077  ----
521    Halo       360      1407  ----

[522 rows x 15 columns]

**Question 4**
Tidy the NASA table (15 pts)
Here we will code missing observations properly, recode columns that correspond to more than one piece of information, and treat dates and times appropriately.
1.	Recode any missing entries as NaN. Refer to the data description to see how missing entries are encoded in each column. Be sure to look carefully at the actual data, as the nasa descriptions might not be completely accurate.
2.	The CPA column (cme_angle) contains angles in degrees for most rows, except for halo flares, which are coded as Halo. Create a new column that indicates if a row corresponds to a halo flare or not, and then replace Halo entries in the cme_angle column with NaN.
3.	The width column indicates if the given value is a lower bound. Create a new column that indicates if width is given as a lower bound, and remove any non-numeric part of the width column.
4.	Combine date and time columns for start, end and cme so they can be encoded as datetime objects.

In [5]:
header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get("https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html",headers=header)
print(page.status_code)

soup = BeautifulSoup(page.content, 'html.parser')
tab = soup.find('pre')
dat = tab.get_text()
rows = dat.split('\n') #split into data into row

for i in range(0,12):
    rows.pop(0);    #Popping First Twelve Lines of <pre>
rows.pop(len(rows)-1)   #Pop Last two Line before </pre>
rows.pop(len(rows)-1)
df = pd.DataFrame(columns=['Start Date', 'Start Time', 'End Date', 'End Time', 'Start Frequency', 'End Frequency', 'Flare Location', 'Flare Region','Flare Classification', 'CME Date', 'CME Time', 'CME CPA', 'CME Width', 'CME Speed','Plot'], index = range(0,len(rows)))

i = 0   #count row of table
for row in rows:
    column = row.split(' ')
    while '' in column:
        column.remove('')
    j = 0   #count column of table
    while j < 15:
        df.iat[i, j] = column[j]
        j += 1
    i += 1    
df = df.replace('????','NaN')   #Start and End frequencies replacement
df = df.replace('----','NaN')
df = df.replace('-----','NaN')
df = df.replace('--/--','NaN')
df = df.replace('--:--','NaN')

df.loc[df['CME CPA'] == "Halo", 'is_halo'] = 'True' 
df.loc[df['CME CPA'] != "Halo", 'is_halo'] = 'False'
df = df.replace('Halo','NaN')

df['width_lower_bound'] = df['CME Width'].apply(lambda x: 'False' if x.isdigit() else 'True')
df['CME Width'] = df['CME Width'].str.replace('>',' ')
st_dt = pd.to_datetime(df['Start Date'] + ' ' + df['Start Time']) #2 use datetime
end_dt = pd.to_datetime(df['Start Date'] + ' ' + df['End Time'], errors='ignore') #2 use datetime
cme_dt = pd.to_datetime(df['Start Date'] + ' ' + df['CME Time'],errors='ignore') #2 use datetime

df=df.drop(['Start Date', 'Start Time', 'End Date', 'End Time', 'CME Date', 'CME Time'], axis=1)			#Created Dataframe with names
df.insert(0, "Start DateTime", st_dt)
df.insert(1, "End DateTime", end_dt)
df.insert(7, "CME DateTime", cme_dt)

print(df) 
#df.to_csv('task4.csv')

200
         Start DateTime      End DateTime Start Frequency End Frequency  \
0   1997-04-01 14:00:00  1997/04/01 14:15            8000          4000
1   1997-04-07 14:30:00  1997/04/07 17:30           11000          1000
2   1997-05-12 05:15:00  1997/05/12 16:00           12000            80
3   1997-05-21 20:20:00  1997/05/21 22:00            5000           500
4   1997-09-23 21:53:00  1997/09/23 22:16            6000          2000
..                  ...               ...             ...           ...
517 2017-09-17 11:45:00  2017/09/17 12:35           16000           900
518 2017-10-18 05:48:00  2017/10/18 12:40           16000           400
519 2019-05-03 23:52:00  2019/05/03 00:16           13000          2300
520 2020-11-29 13:07:00  2020/11/29 15:23           14000           850
521 2020-12-07 16:18:00  2020/12/07 02:00           14000           160

    Flare Location Flare Region Flare Classification      CME DateTime  \
0           S25E16         8026                 M1.3  1997/04/01 15:18
1           S28E19         8027                 C6.8  1997/04/07 14:27
2           N21W08         8038                 C1.3  1997/05/12 05:30
3           N05W12         8040                 M1.3  1997/05/21 21:00
4           S29E25         8088                 C1.4  1997/09/23 22:02
..             ...          ...                  ...               ...
517        S08E170          NaN                  NaN  2017/09/17 12:00
518        S06E123          NaN                  NaN  2017/10/18 08:00
519         N12E82        12740                 C1.0  2019/05/03 23:24
520         S23E89          NaN                 M4.4  2020/11/29 13:25
521         S25W08        12790                 C7.4  2020/12/07 16:24

    CME CPA CME Width CME Speed  Plot is_halo width_lower_bound
0        74        79       312  PHTX   False             False
1       NaN       360       878  PHTX    True             False
2       NaN       360       464  PHTX    True             False
3       263       165       296  PHTX   False             False
4       133       155       712  PHTX   False             False
..      ...       ...       ...   ...     ...               ...
517     NaN       360      1385  PHTX    True             False
518      85       146      1001  PHTX   False             False
519      90       113       692  PHTX   False             False
520     NaN       360      2077   NaN    True             False
521     NaN       360      1407   NaN    True             False

[522 rows x 14 columns]

**Question 5**
Can you replicate the top 50 solar flare table in SpaceWeatherLive.com exactly using the data obtained from NASA? That is if you get the top 50 solar flares from the NASA table based on their classification (e.g., X28 is the highest), do you get data for the same solar flare events? Include code used to get the top 50 solar flares from the NASA table (be careful when ordering by classification). Write a sentence or two discussing how well you can replicate the SpaceWeatherLive data from the NASA data.

In [6]:
header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get("https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html",headers=header)
print(page.status_code)
#print(data.text)
soup = BeautifulSoup(page.content, 'html.parser')
tab = soup.find('pre')
dat = tab.get_text()
rows = dat.split('\n') #split into data into row
for i in range(0,12):
    rows.pop(0);    #Popping First Twelve Lines of <pre>
rows.pop(len(rows)-1)   #Pop Last two Line before </pre>
rows.pop(len(rows)-1)
df = pd.DataFrame(columns=['Start Date', 'Start Time', 'End Date', 'End Time', 'Start Frequency', 'End Frequency', 'Flare Location', 'Flare Region','Flare Classification', 'CME Date', 'CME Time', 'CME CPA', 'CME Width', 'CME Speed','Plot'], index = range(0,len(rows)))
i = 0   #count row of table
for row in rows:
    column = row.split(' ')
    while '' in column:
        column.remove('')
    j = 0   #count column of table
    while j < 15:
        df.iat[i, j] = column[j]
        j += 1
    i += 1    
df = df.replace('????','NaN')   #Start and End frequencies replacement
df = df.replace('----','NaN')
df = df.replace('-----','NaN')
df = df.replace('--/--','NaN')
df = df.replace('--:--','NaN')

df.loc[df['CME CPA'] == "Halo", 'is_halo'] = 'True' 
df.loc[df['CME CPA'] != "Halo", 'is_halo'] = 'False'
df = df.replace('Halo','NaN')

df['width_lower_bound'] = df['CME Width'].apply(lambda x: 'False' if x.isdigit() else 'True')
df['CME Width'] = df['CME Width'].str.replace('>',' ')

df=df.sort_values(by='Flare Classification', inplace=False,ascending=False).head(50)
df['Flare Classification'] = df['Flare Classification'].str.replace('X',' ')
 
df["Flare Classification"]=pd.to_numeric(df["Flare Classification"], errors='ignore')
df=df.sort_values(by='Flare Classification',ascending=False).head(50)
df['Flare Classification'] = 'X' + df['Flare Classification'].astype(str)

print(df)
#df.to_csv('task5.csv')

200
     Start Date Start Time End Date End Time Start Frequency End Frequency  \
240  2003/11/04      20:00    11/04    24:00           10000           200
117  2001/04/02      22:05    04/03    02:30           14000           250
233  2003/10/28      11:10    10/29    24:00           14000            40
126  2001/04/15      14:05    04/16    13:00           14000            40
234  2003/10/29      20:55    10/29    24:00           11000           500
8    1997/11/06      12:20    11/07    08:30           14000           100
514  2017/09/06      12:05    09/07    08:00           16000            70
328  2006/12/05      10:50    12/05    20:00           14000           250
237  2003/11/02      17:30    11/03    01:00           12000           250
515  2017/09/10      16:02    09/11    06:50           16000           150
288  2005/01/20      07:15    01/20    16:30           14000            25
359  2011/08/09      08:20    08/09    08:35           16000          4000
331  2006/12/06      19:00    12/08    24:00           16000            30
317  2005/09/09      19:45    09/09    22:00           10000            50
82   2000/07/14      10:30    07/15    14:30           14000            80
121  2001/04/06      19:35    04/07    01:50           14000           230
375  2012/03/07      01:00    03/08    19:00           16000            30
135  2001/08/25      16:50    08/25    23:00            8000           170
443  2014/02/25      00:56    02/25    11:28           14000           100
193  2002/07/23      00:50    07/23    04:00           11000           400
104  2000/11/26      17:00    11/26    17:15           14000          7000
239  2003/11/03      10:00    11/03    12:30            6000           400
286  2005/01/17      10:00    01/17    10:35            6100          1500
222  2003/05/28      01:00    05/29    00:30            1000           200
160  2001/12/28      20:35    12/29    03:00           14000           350
332  2006/12/13      02:45    12/13    10:40           12000           150
192  2002/07/20      21:30    07/20    22:20           10000          2000
404  2013/05/14      01:16    05/14    08:20           16000           240
201  2002/08/24      01:45    08/24    03:25            5000           400
403  2013/05/13      16:15    05/13    19:10           16000           300
487  2015/05/05      22:24    05/05    23:14           14000           500
19   1998/05/06      08:25    05/06    08:35           14000          5000
238  2003/11/03      01:15    11/03    01:25            3000          1500
284  2005/01/15      23:00    01/17    00:00            3000            40
142  2001/09/24      10:45    09/25    20:00            7000            30
9    1997/11/27      13:30    11/27    14:00           14000          7000
276  2004/11/10      02:25    11/10    03:40           14000          1000
123  2001/04/10      05:24    04/10    24:00           14000           100
99   2000/11/24      15:25    11/24    22:00           14000           200
73   2000/06/06      15:20    06/08    09:00           14000            40
345  2011/02/15      02:10    02/15    07:00           16000           400
361  2011/09/06      22:30    09/07    15:40           16000           150
318  2005/09/10      21:45    09/11    01:00           14000           200
420  2013/10/25      15:08    10/25    22:32           16000           200
7    1997/11/04      06:00    11/05    04:30           14000           100
285  2005/01/17      09:25    01/17    16:00           14000            30
274  2004/11/07      16:25    11/08    20:00           14000            60
125  2001/04/12      10:20    04/12    10:40           14000          7000
98   2000/11/24      05:10    11/24    15:00           14000           100
102  2000/11/25      19:00    11/25    19:35            6000          2000

    Flare Location Flare Region Flare Classification CME Date CME Time  \
240         S19W83        10486                X28.0    11/04    19:54
117         N19W72         9393                X20.0    04/02    22:06
233         S16E08        10486                X17.0    10/28    11:30
126         S20W85         9415                X14.0    04/15    14:06
234         S15W02        10486                X10.0    10/29    20:54
8           S18W63         8100                 X9.4    11/06    12:10
514         S08W33        12673                 X9.3    09/06    12:24
328         S07E68        10930                 X9.0      NaN      NaN
237         S14W56        10486                 X8.3    11/02    17:30
515         S09W92          NaN                 X8.3    09/10    16:00
288         N14W61        10720                 X7.1    01/20    06:54
359         N17W69        11263                 X6.9    08/09    08:12
331         S05E64        10930                 X6.5      NaN      NaN
317         S12E67        10808                 X6.2    09/09    19:48
82          N22W07         9077                 X5.7    07/14    10:54
121         S21E31         9415                 X5.6    04/06    19:30
375         N17E27        11429                 X5.4    03/07    00:24
135         S17E34         9591                 X5.3    08/25    16:50
443         S12E82        11990                 X4.9    02/25    01:25
193         S13E72        10039                 X4.8    07/23    00:42
104         N18W38         9236                 X4.0    11/26    17:06
239         N08W77        10488                 X3.9    11/03    10:06
286         N15W25        10720                 X3.8    01/17    09:54
222         S07W20        10365                 X3.6    05/28    00:50
160         S26E90         9756                 X3.4    12/28    20:30
332         S06W23        10930                 X3.4    12/13    02:54
192         S13E90        10039                 X3.3    07/20    22:06
404         N08E77        11748                 X3.2    05/14    01:25
201         S02W81        10069                 X3.1    08/24    01:27
403         N11E85        11748                 X2.8    05/13    16:07
487         N15E79        12339                 X2.7    05/05    22:24
19          S11W65         8210                 X2.7    05/06    08:29
238         N10W83        10488                 X2.7    11/03    01:59
284         N15W05        10720                 X2.6    01/15    23:06
142         S16E23         9632                 X2.6    09/24    10:30
9           N17E63         8113                 X2.6    11/27    13:56
276         N09W49        10696                 X2.5    11/10    02:26
123         S23W09         9415                 X2.3    04/10    05:30
99          N22W07         9236                 X2.3    11/24    15:30
73          N20E18         9026                 X2.3    06/06    15:54
345         S20W12        11158                 X2.2    02/15    02:24
361         N14W18        11283                 X2.1    09/06    23:05
318         S13E47        10808                 X2.1    09/10    21:52
420         S06E69        11882                 X2.1    10/25    15:12
7           S14W33         8100                 X2.1    11/04    06:10
285         N15W25        10720                 X2.0    01/17    09:30
274         N09W17        10696                 X2.0    11/07    16:54
125         S19W43         9415                 X2.0    04/12    10:31
98          N20W05         9236                 X2.0    11/24    05:30
102         N20W23         9236                 X1.9    11/25    19:31

    CME CPA CME Width CME Speed  Plot is_halo width_lower_bound
240     NaN       360      2657  PHTX    True             False
117     261       244      2505  PHTX   False             False
233     NaN       360      2459  PHTX    True             False
126     245       167      1199  PHTX   False             False
234     NaN       360      2029  PHTX    True             False
8       NaN       360      1556  PHTX    True             False
514     NaN       360      1571  PHTX    True             False
328     NaN       NaN       NaN  PHTX   False              True
237     NaN       360      2598  PHTX    True             False
515     NaN       360      3163  PHTX    True             False
288     NaN       360       882  PHTX    True             False
359     NaN       360      1610  PHTX    True             False
331     NaN       NaN       NaN  PHTX   False              True
317     NaN       360      2257  PHTX    True             False
82      NaN       360      1674  PHTX    True             False
121     NaN       360      1270  PHTX    True             False
375     NaN       360      2684  PHTX    True             False
135     NaN       360      1433  PHTX    True             False
443     NaN       360      2147  PHTX    True             False
193     NaN       360      2285  PHTX    True             False
104     NaN       360       980  PHTX    True             False
239     293       103      1420  PHTX   False             False
286     NaN       360      2547  PHTX    True             False
222     NaN       360      1366  PHTX    True             False
160     NaN       360      2216  PHTX    True             False
332     NaN       360      1774  PHTX    True             False
192     NaN       360      1941  PHTX    True             False
404     NaN       360      2625  PHTX    True             False
201     NaN       360      1913  PHTX    True             False
403     NaN       360      1850  PHTX    True             False
487     NaN       360       715  PHTX    True             False
19      309       190      1099  PHTX   False             False
238     304        65       827  PHTX   False             False
284     NaN       360      2861  PHTX    True             False
142     NaN       360      2402  PHTX    True             False
9        98        91       441  PHTX   False             False
276     NaN       360      3387  PHTX    True             False
123     NaN       360      2411  PHTX    True             False
99      NaN       360      1245  PHTX    True             False
73      NaN       360      1119  PHTX    True             False
345     NaN       360       669  PHTX    True             False
361     NaN       360       575  PHTX    True             False
318     NaN       360      1893  PHTX    True             False
420     NaN       360      1081  PHTX    True             False
7       NaN       360       785  PHTX    True             False
285     NaN       360      2094  PHTX    True             False
274     NaN       360      1759  PHTX    True             False
125     NaN       360      1184  PHTX    True             False
98      NaN       360      1289  PHTX    True             False
102     NaN       360       671  PHTX    True             False

**Question 6**
Write a function that finds the best matching row in the NASA data for each of the top 50 solar flares in the SpaceWeatherLive data. Here, you have to decide for yourself how you determine what is the best matching entry in the NASA data for each of the top 50 solar flares. In your submission, include an explanation of how you are defining best matching rows across the two datasets in addition to the code used to find the best matches. Finally, use your function to add a new column to the NASA dataset indicating its rank according to SpaceWeatherLive, if it appears in that dataset.

In [7]:
#Code of Task 1(Space Weather) and Task 3(Nasa Data) are taken and following code is added to it.
#merge Space Weather and Nasa Dataset in one using merge()
result = pd.merge(df, df1,  left_on=[df["Start Date"],df["Flare Classification"]],right_on=[df1["Date"],df1["X_Classification"]], how="left")
result=result.drop(['X_Classification', 'Start Time_y', 'Region', 'Maximum Time', 'End Time_y','Date'], axis=1)
result
#result.to_csv('task6.csv')

,key_0,key_1,Start Date,Start Time_x,End Date,End Time_x,Start Frequency,End Frequency,Flare Location,Flare Region,...,CME Time,CME CPA,CME Width,CME Speed,Plot,is_halo,width_lower_bound,Rank,Movie,Archive
0,2003/11/04,X28.0,2003/11/04,20:00,11/04,24:00,10000,200,S19W83,10486,...,19:54,NaN,360,2657,PHTX,True,False,NaN,NaN,NaN
1,2001/04/02,X20.0,2001/04/02,22:05,04/03,02:30,14000,250,N19W72,9393,...,22:06,261,244,2505,PHTX,False,False,NaN,NaN,NaN
2,2003/10/28,X17.0,2003/10/28,11:10,10/29,24:00,14000,40,S16E08,10486,...,11:30,NaN,360,2459,PHTX,True,False,NaN,NaN,NaN
3,2001/04/15,X14.0,2001/04/15,14:05,04/16,13:00,14000,40,S20W85,9415,...,14:06,245,167,1199,PHTX,False,False,NaN,NaN,NaN
4,2003/10/29,X10.0,2003/10/29,20:55,10/29,24:00,11000,500,S15W02,10486,...,20:54,NaN,360,2029,PHTX,True,False,NaN,NaN,NaN
5,1997/11/06,X9.4,1997/11/06,12:20,11/07,08:30,14000,100,S18W63,8100,...,12:10,NaN,360,1556,PHTX,True,False,7,Movie,View archive
6,2017/09/06,X9.3,2017/09/06,12:05,09/07,08:00,16000,70,S08W33,12673,...,12:24,NaN,360,1571,PHTX,True,False,8,Movie,View archive
7,2006/12/05,X9.0,2006/12/05,10:50,12/05,20:00,14000,250,S07E68,10930,...,NaN,NaN,NaN,NaN,PHTX,False,True,NaN,NaN,NaN
8,2003/11/02,X8.3,2003/11/02,17:30,11/03,01:00,12000,250,S14W56,10486,...,17:30,NaN,360,2598,PHTX,True,False,10,Movie,View archive
9,2017/09/10,X8.3,2017/09/10,16:02,09/11,06:50,16000,150,S09W92,NaN,...,16:00,NaN,360,3163,PHTX,True,False,NaN,NaN,NaN
10,2005/01/20,X7.1,2005/01/20,07:15,01/20,16:30,14000,25,N14W61,10720,...,06:54,NaN,360,882,PHTX,True,False,12,Movie,View archive
11,2011/08/09,X6.9,2011/08/09,08:20,08/09,08:35,16000,4000,N17W69,11263,...,08:12,NaN,360,1610,PHTX,True,False,13,Movie,View archive
12,2006/12/06,X6.5,2006/12/06,19:00,12/08,24:00,16000,30,S05E64,10930,...,NaN,NaN,NaN,NaN,PHTX,False,True,14,Movie,View archive
13,2005/09/09,X6.2,2005/09/09,19:45,09/09,22:00,10000,50,S12E67,10808,...,19:48,NaN,360,2257,PHTX,True,False,15,Movie,View archive
14,2000/07/14,X5.7,2000/07/14,10:30,07/15,14:30,14000,80,N22W07,9077,...,10:54,NaN,360,1674,PHTX,True,False,17,Movie,View archive
15,2001/04/06,X5.6,2001/04/06,19:35,04/07,01:50,14000,230,S21E31,9415,...,19:30,NaN,360,1270,PHTX,True,False,18,Movie,View archive
16,2012/03/07,X5.4,2012/03/07,01:00,03/08,19:00,16000,30,N17E27,11429,...,00:24,NaN,360,2684,PHTX,True,False,19,Movie,View archive
17,2001/08/25,X5.3,2001/08/25,16:50,08/25,23:00,8000,170,S17E34,9591,...,16:50,NaN,360,1433,PHTX,True,False,22,Movie,View archive
18,2014/02/25,X4.9,2014/02/25,00:56,02/25,11:28,14000,100,S12E82,11990,...,01:25,NaN,360,2147,PHTX,True,False,23,Movie,View archive
19,2002/07/23,X4.8,2002/07/23,00:50,07/23,04:00,11000,400,S13E72,10039,...,00:42,NaN,360,2285,PHTX,True,False,25,Movie,View archive
20,2000/11/26,X4.0,2000/11/26,17:00,11/26,17:15,14000,7000,N18W38,9236,...,17:06,NaN,360,980,PHTX,True,False,NaN,NaN,NaN
21,2003/11/03,X3.9,2003/11/03,10:00,11/03,12:30,6000,400,N08W77,10488,...,10:06,293,103,1420,PHTX,False,False,27,Movie,View archive
22,2005/01/17,X3.8,2005/01/17,10:00,01/17,10:35,6100,1500,N15W25,10720,...,09:54,NaN,360,2547,PHTX,True,False,29,Movie,View archive
23,2003/05/28,X3.6,2003/05/28,01:00,05/29,00:30,1000,200,S07W20,10365,...,00:50,NaN,360,1366,PHTX,True,False,33,Movie,View archive
24,2001/12/28,X3.4,2001/12/28,20:35,12/29,03:00,14000,350,S26E90,9756,...,20:30,NaN,360,2216,PHTX,True,False,35,Movie,View archive
25,2006/12/13,X3.4,2006/12/13,02:45,12/13,10:40,12000,150,S06W23,10930,...,02:54,NaN,360,1774,PHTX,True,False,34,Movie,View archive
26,2002/07/20,X3.3,2002/07/20,21:30,07/20,22:20,10000,2000,S13E90,10039,...,22:06,NaN,360,1941,PHTX,True,False,37,Movie,View archive
27,2013/05/14,X3.2,2013/05/14,01:16,05/14,08:20,16000,240,N08E77,11748,...,01:25,NaN,360,2625,PHTX,True,False,39,Movie,View archive
28,2002/08/24,X3.1,2002/08/24,01:45,08/24,03:25,5000,400,S02W81,10069,...,01:27,NaN,360,1913,PHTX,True,False,41,Movie,View archive
29,2013/05/13,X2.8,2013/05/13,16:15,05/13,19:10,16000,300,N11E85,11748,...,16:07,NaN,360,1850,PHTX,True,False,43,Movie,View archive
30,2015/05/05,X2.7,2015/05/05,22:24,05/05,23:14,14000,500,N15E79,12339,...,22:24,NaN,360,715,PHTX,True,False,46,Movie,View archive
31,1998/05/06,X2.7,1998/05/06,08:25,05/06,08:35,14000,5000,S11W65,8210,...,08:29,309,190,1099,PHTX,False,False,48,Movie,View archive
32,2003/11/03,X2.7,2003/11/03,01:15,11/03,01:25,3000,1500,N10W83,10488,...,01:59,304,65,827,PHTX,False,False,47,Movie,View archive
33,2005/01/15,X2.6,2005/01/15,23:00,01/17,00:00,3000,40,N15W05,10720,...,23:06,NaN,360,2861,PHTX,True,False,49,Movie,View archive
34,2001/09/24,X2.6,2001/09/24,10:45,09/25,20:00,7000,30,S16E23,9632,...,10:30,NaN,360,2402,PHTX,True,False,50,Movie,View archive
35,1997/11/27,X2.6,1997/11/27,13:30,11/27,14:00,14000,7000,N17E63,8113,...,13:56,98,91,441,PHTX,False,False,NaN,NaN,NaN
36,2004/11/10,X2.5,2004/11/10,02:25,11/10,03:40,14000,1000,N09W49,10696,...,02:26,NaN,360,3387,PHTX,True,False,NaN,NaN,NaN
37,2001/04/10,X2.3,2001/04/10,05:24,04/10,24:00,14000,100,S23W09,9415,...,05:30,NaN,360,2411,PHTX,True,False,NaN,NaN,NaN
38,2000/11/24,X2.3,2000/11/24,15:25,11/24,22:00,14000,200,N22W07,9236,...,15:30,NaN,360,1245,PHTX,True,False,NaN,NaN,NaN
39,2000/06/06,X2.3,2000/06/06,15:20,06/08,09:00,14000,40,N20E18,9026,...,15:54,NaN,360,1119,PHTX,True,False,NaN,NaN,NaN
40,2011/02/15,X2.2,2011/02/15,02:10,02/15,07:00,16000,400,S20W12,11158,...,02:24,NaN,360,669,PHTX,True,False,NaN,NaN,NaN
41,2011/09/06,X2.1,2011/09/06,22:30,09/07,15:40,16000,150,N14W18,11283,...,23:05,NaN,360,575,PHTX,True,False,NaN,NaN,NaN
42,2005/09/10,X2.1,2005/09/10,21:45,09/11,01:00,14000,200,S13E47,10808,...,21:52,NaN,360,1893,PHTX,True,False,NaN,NaN,NaN
43,2013/10/25,X2.1,2013/10/25,15:08,10/25,22:32,16000,200,S06E69,11882,...,15:12,NaN,360,1081,PHTX,True,False,NaN,NaN,NaN
44,1997/11/04,X2.1,1997/11/04,06:00,11/05,04:30,14000,100,S14W33,8100,...,06:10,NaN,360,785,PHTX,True,False,NaN,NaN,NaN
45,2005/01/17,X2.0,2005/01/17,09:25,01/17,16:00,14000,30,N15W25,10720,...,09:30,NaN,360,2094,PHTX,True,False,NaN,NaN,NaN
46,2004/11/07,X2.0,2004/11/07,16:25,11/08,20:00,14000,60,N09W17,10696,...,16:54,NaN,360,1759,PHTX,True,False,NaN,NaN,NaN
47,2001/04/12,X2.0,2001/04/12,10:20,04/12,10:40,14000,7000,S19W43,9415,...,10:31,NaN,360,1184,PHTX,True,False,NaN,NaN,NaN
48,2000/11/24,X2.0,2000/11/24,05:10,11/24,15:00,14000,100,N20W05,9236,...,05:30,NaN,360,1289,PHTX,True,False,NaN,NaN,NaN
49,2000/11/25,X1.9,2000/11/25,19:00,11/25,19:35,6000,2000,N20W23,9236,...,19:31,NaN,360,671,PHTX,True,False,NaN,NaN,NaN